
@font-face {
  font-family: 'NexaRegular';
  src: local("nexaregular"),
  url("../src/fonts/nexaregular.otf") format("opentype");
  
}
@font-face {
  font-family: 'Nexa';
  src: local("Nexa-Light"),
  url("../src/fonts/Nexa-Light.otf") format("opentype");
  
}
@font-face {
  font-family: 'NexaBlack';
  font-style: normal;
  font-weight: 400;
  src: local("nexa-black"),
  url("./fonts/nexa-black.otf") format("opentype");
  
}
@font-face {
  font-family: 'Nexa-Bold';
  font-style: normal;
  font-weight: 400;
  src: local("Nexa-Bold"),
  url("./fonts/Nexa-Bold.otf") format("opentype");
  
}




